html,body{
  overflow-x: hidden;
  overflow-y: auto;
}

/* Index.html - Images */

.main-info-bg {
    height: 300px;
	width: 100%;
	background-image: url("../images/sky.jpg");
    background-size: cover;
}

/* The following was copied and altered from  W3schools in order to create a circular image */

#portrait {
    margin-top: 35px;
	background-image: url("../images/portrait.png");
    background-size: cover;
    height: 300px;
    width: 300px;  
	border-radius: 50%;
}

/* Index.html - Texts */

.bio {
	width: 250px;
	height: 250px;
	color: #343a40;
	text-align: center;
    background-color: #f4f4f4;
}

.about-me {
    margin: 0 auto;
    color: white;
}

.about-me h1{
	font-family: Lato;
	font-size: 200%;
	text-align: center;
	padding-bottom: 8px;
    padding-top: 70px;
}

.about-me h2{
	font-family: Lato;
    font-size: 180%;
}

/* Social Media Links */

#social-media {
    padding-top: 12px;
	width: 500px;
	height: 60px;
    position: absolute;
}

.social-media-button {
    height: 60px;
	width: 125px;
    float: left;
}

#social-media i {
    font-size: 160%;
	margin: 1%;
	padding-left: 40%;
	padding-top: 12%;
	color: white;
}

/* Contact.html */

/* The center-form and button classes were copied and altered from Bootstrap. 
The center form has been styled to only cover 60% of the container. 
The button class has been styled to specific color */

.contact-heading {
    padding-top: 30px ;
    color: white;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

button[type="submit"] {
    margin-top: 15px;
    background-color: #e84610;
    float: right;
}

/* Portfolio.html */

.portfolio-title {
    color: white;
    padding-top: 10px;
}

.portfolio-image-link {
    border-width: 3px;
    border-style: solid;
    border-color: #193947;
}

.portfolio-image-link:hover {
    border-color: gold;
    border-width: 6px;
}

.red {
	background-image: url("../images/site-red.jpg");
    background-size: cover;
    height: 250px;  
}

.blue {
	background-image: url("../images/site-blue.jpg");
    background-size: cover;
    height: 250px;  
}

.green {
	background-image: url("../images/site-green.jpg");
    background-size: cover;
    height: 250px;  
}

.yellow {
	background-image: url("../images/site-yellow.jpg");
    background-size: cover;
    height: 250px;  
}

.purple {
	background-image: url("../images/site-purple.jpg");
    background-size: cover;
    height: 250px;  
}

.black {
	background-image: url("../images/site-black.jpg");
    background-size: cover;
    height: 250px;  
}

/* Experience.html */

.experience-info {
    color: white;
}

.experience-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.education-info {
    color: white;
    max-width: 90%;
    margin: 0 auto;
}

.education-info h2 {
    font-size: 140%;
    font-weight: bold;
}

.education-info p {
    font-size: 90%;
}

hr.solid-line {
  border-top: 1px solid #bbb;
  color: white;
  width: 100%;
}

.skills-info {
    max-width: 90%;
    margin: 0 auto;
    
}

.skills-HTML {
    background-color: red;
    font-size: 75px;
    height: 120px;
    color: white;
    font-family: Helvetica;
    text-align: center;
}

.skills-CSS {
    background-color: blue;
    font-size: 75px;
    height: 120px;
    color: white;
    font-family: Helvetica;
    text-align: center;
}

.skills-Java {
    background-color: yellow;
    font-size: 75px;
    height: 120px;
    color: white;
    font-family: Helvetica;
    text-align: center;
}

.skills-SQL {
    background-color: purple;
    font-size: 75px;
    height: 120px;
    color: white;
    font-family: Helvetica;
    text-align: center;
}