.main-info-bg {
    height: 300px;
	width: 100%;
	background-image: url("../images/sky.jpg");
    background-size: cover;
}

.portrait {
	background-image: url("../images/portrait.png");
    background-size: cover;
    height: 250px;
    width: 250px;  
}

.bio {
	width: 250px;
	height: 250px;
	color: #343a40;
	text-align: center;
    background-color: #f4f4f4;
}

.about-me {
	width: 700px;
	height: 250px;
    margin: 0 auto;
    color: white;
}

.about-me h1{
	font-family: Lato;
	font-size: 200%;
	text-align: center;
	padding-bottom: 8px;
    padding-top: 70px;
}

.about-me h2{
	font-family: Lato;
    font-size: 180%;
}